@import "tailwindcss";

@theme {
  --color-prisma-a: #cd5aff;
  --color-prisma-b: #8067ff;
  --color-prisma-c: #ef64ff;
  --color-prisma-d: #ff4b85;
  --font-custom: "Space Grotesk", sans-serif;
  --font-custom-bold: "Bebas Neue", sans-serif;
}

:root {
  --background: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
